.data {
  text-align: center;
  width: 380px;
  padding: 20px;
  background-color: rgb(5, 6, 26);
  -webkit-box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 1);
}
h3 {
  margin-top: 15px;
}
h4 {
  font-size: 26px;
  margin-top: 15px;
  & .cripto {
    color: rgb(0, 191, 255);
  }
  & .moneda {
    color: rgb(255, 225, 0);
  }
}
img {
  width: 60px;
}
p {
  font-size: 30px;
}
